---
import Productlayout from "../layouts/Productlayout.astro";
import Product from "../components/Product.astro";
const url = "https://plvxocuuxcvvcyxybbvf.supabase.co/rest/v1/Omada${id}";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsdnhvY3V1eGN2dmN5eHliYnZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4MTgxOTgsImV4cCI6MTk5NzM5NDE5OH0.CfZdfZ4kMRMeiWvUYstoNXldegEeJg7bA3YyNycUh4A",
  },
};
const response = await fetch(url, options);
const products = await response.json();
console.log(products);
---

<Productlayout>
  <div class="product">
    {(product) => <Product title={product.title} description={product.description} price={product.price} image={product.image} />}
  </div>
</Productlayout>
