---
import Mainlayout from "../../layouts/Mainlayout.astro";
import Header from "../../components/Header.astro";
import Button2 from "../../components/Button2.astro";

export async function getStaticPaths() {
  const data = await fetch("https://plvxocuuxcvvcyxybbvf.supabase.co/rest/v1/Omada", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsdnhvY3V1eGN2dmN5eHliYnZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4MTgxOTgsImV4cCI6MTk5NzM5NDE5OH0.CfZdfZ4kMRMeiWvUYstoNXldegEeJg7bA3YyNycUh4A",
    },
  }).then((response) => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myData: product },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
const { title } = Astro.props;
---

<Mainlayout title={myData.title}>
  <div class="breadcrumbs">
    <a href="/">Hjem</a> &raquo;
    <a href="/#deli_section">Produkter</a> &raquo;
    <span class="current-page">{myData.title}</span>
  </div>
  <div class="product_singleview">
    <div class="product_info">
      <h2>{myData.title}</h2>
      <p>{myData.description}</p>
      <p>{myData.price}</p>
      <Button2 />
    </div>
    <img src={`/img/${myData.image}`} alt="" />
  </div>
</Mainlayout>
<style>
  img {
    width: 100%;
  }
  .product_singleview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
  }
  .product_info {
    margin: 2rem;
  }
  .breadcrumbs a,
  .breadcrumbs span {
    color: var(--text-color);
    font-family: "georgia";
    line-height: 2;
    text-align: center;
    text-decoration: none;
  }
  .breadcrumbs a:hover,
  .breadcrumbs span:hover {
    color: var(--deep-orange);
    border-radius: 5px;
  }
</style>
